*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    height: 350vw;
    width: 90vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    margin-top: 10%;
}

img{
    height: 50%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}

body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(-45deg, red,
    #e40303, #ef5f5f, #d840b6);
    animation: bg 12sg ease infinite;
}
@keyframes bg {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}